build/
cache/
products/
dist/
src/
mosfit/modules/observables/filters/*.dat
mosfit/modules/observables/filters/*.xml
/models/
/jupyter/
MANIFEST
mosfit.egg-info/
*.pyc
*checkpoint.ipynb
*.so
*.prof
*.swp
*.png
.DS_Store
/*.json
/*.csv
mosfit/strings-*.json

# Documentation
docs/_build
docs/api
