global-include *.txt
global-include *.md
global-include *.py
global-include .gitkeep
include mosfit.ipynb
recursive-include mosfit/modules *
recursive-include mosfit/tests *
recursive-include mosfit/models *
