include LICENSE
include test.sh
include test.py
exclude docs/_build
exclude docs/api
exclude build/
exclude products/
exclude dist/
exclude src/
exclude output/
global-include *.md
global-include .gitkeep
global-exclude .DS_Store
global-exclude *.prof
global-exclude *.swp
global-exclude *.png
graft mosfit
prune mosfit/cache/
include mosfit/cache/names.min.json
