setuptools
astrocats>=0.3.33
astropy>=5.0.1
Cython>=3.0.0
dynesty>=2.0.0
emcee>=3.0.2
extinction>=0.2.2
inflect>=1.0.0
matplotlib>=3.0.0
mpi4py==3.1.6
nbstripout>=0.2.9
numexpr>=2.6.1
numpy<=1.26.4
palettable>=2.1.1
schwimmbad==0.3.0
scipy>=1.2
seaborn>=0.7.1
six>=1.0.0
